html {
    height: 100%;
    margin: 0;
    }
    
    body {
    background-color: white;
    height: 100%;
    margin: 0;
    }
    
    header {
    top: 0px;
    position: relative;
    background-color: #aaaaff;
    
    }
    
    #container {
    height: 100%;
    width: 100%;
    }
    
    #leftheader {
    left: 0px;
    position: absolute;
    }
    
    #rightheader {
    right: 0px;
    position: absolute;
    }
    
    #logo {
    position: absolute;
    background-image: url(file:///home/jonas/Documents/OdinProject/easygoogleproject/images/logo.png);
    background-repeat: no-repeat;
    height: 92px;
    width: 272px;
    left: calc(50% - 272px/2);
    top: 200px;
    }

    #formposition{
        position: absolute;
        left: calc(50% - 387px/2);
        top: 302px;
    }

    form{
        margin: auto;
        width: 833px;
    }

    input {
        width: 387px;
        height: 34;
    }

    #boxdecoration{
        width: 484px;
        height: 46px;
    }